h1{
    font-size: 30px;
    margin-left:25px;
    color: #DA82A7;
    text-shadow: 1px 1px 1px #000;
    margin-top: 75px;
    white-space: nowrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    margin-left:-285px; 
    margin-top:135px;
    width:550px;
    text-align:justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    display: flex;
    height: 470px;
    width: 665px;
    background-color:#EEEEEE;
    border: 1px solid #dedbdb;
    margin: 350px;
    margin-top: -130px;
    /*box-shadow: 10px 10px 1px 1px #DA82A7;*/
}
